head {
  display: none;
}
* {
  display: block;
  padding: 12px;
}

div .a { background: #ff0000;}
.b { background: #ffa500;}
.c { background: #ffff00;}
.e { background: #008000;}

.f { background: #4b0082;}
.g { background: #800080;}